*.txt.user

/*-build/

/build/

/CMakeLists.txt.user.0000000

/examples/_python/_opengp.so
/examples/_python/generated.cpp
/examples/_python/opengp.py
/examples/_python/opengp.pyc

/apps/baker-build/
/apps/qglviewer-build/

/build-OpenGP-Default/

build-OpenGP-*
